body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

figure{
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    margin: 0;
    padding: 0;
}

h2 strong{
    color: #05FFB8;
    font-size: 32px;
    font-weight: bold;
}

img {
    max-width: 100%;
}

footer {
    color: white;
    background-color: black;
    padding: 1em;
    text-align: center;
}

footer a{
    color: white;
    text-decoration: none;
}

header{
    padding: 8px 0 0 0;
    color: white;
    display: flex;
    background-color: rgba(0,0,0, 0.4);
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1;
}

header img{
    height: 40px;
    margin: 0 auto;
}

header nav {
    display: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

video{
    width: 100%;
}

.info article{
    padding: 0 1em;
}

.info h2{
    text-align: center;
}

.more_info li{
    display: inline;
}

.more_info li a{
    text-decoration: underline;
}

.product{
    position: relative;
}

.product-details {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    padding: 60px 0;
}

.product-details a{
    color: white;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    background: linear-gradient(to right,#05E8A8,#17F6FF);
    padding: 0.5em 1.5em;
    margin-top: 2em;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 8px;
}

.questions {
    background-color: gray;
    padding: 2em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.questions a{
    padding: 1em;
    text-decoration: none;
    margin: 1em;
}

.questions a:first-child{
    border: 2px solid black;
    border-radius: 16px;
}

.questions a:last-child{
    background: linear-gradient(to right, #05e8a8, #17f6ff);
    border-radius: 16px;
    text-transform: uppercase;
}

.social{
    padding-bottom: 2.5em;
}

footer hr{
    background: linear-gradient(to right,#05E8A8,#17F6FF);
    height: 4px;
}

footer .more_info {
    margin-top: 1em 0;
}

.social li{
    display: inline;
}